 *{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
 }
 a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;   
 }
 a:hover{
    color: green;
 }
 nav ul{
    list-style: none;
 }
 nav{
    background-color: black;
   height: 80px;
   position: fixed;
   width: 100%;
 }
 li{
    display: inline-block;
    padding: 20px;
    margin:auto auto;font-weight: 500px;
 }
 #left{
    position: absolute;
    right:100px;
    top: 10px;  
 }
 nav img{
        display: inline-block;
        position: absolute;
left:140px;
        top: 20px;
    height: 40px;
        width: 40px;
 }
#logo{
    color: white;
    font-size: 40px;
    position: absolute;
    left: 200px;
    top: 20px;
 }
#main{
    background-image: url(bckg.jpg);
    border-bottom:5px solid #bf00ff;
    height: 750px;
    background-position: center;
    display: flex;
}
#main img{
     height:640px;
    width: 380px;
   margin: 110px;
    
}
#sec1{
    height: 300px;
    width: 800px;
    margin-top: 250px;    
}
#sec1 h1{
    font-size: 70px;
}
 .btn{
    border-radius: 50px;
    margin:10px;
    padding: 10px;
    width: 292px;
    height: 50px;
    color: aliceblue;
    background-color: rgba(29, 47, 114, 0.856);
    font-size: 20px;
    font-weight: 200px;
}
 .btn:hover{
    background-color: rgba(11, 17, 41, 0.856);
    cursor: pointer;
}

#images{
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
#sec2 h1{
    margin: 25px auto;
    font-size: 35px;
    text-align: center;
}
.box{
    padding-top: 20px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    align-items: center;
    text-align: center;
}
#sec3
{
    text-align: center;
    height:300px;
    background-image: linear-gradient(to right,#651f4e, #17054a);
}
#sec4
{ text-align: center;
    height:400px;
    margin-top: 25px;
    background-image: linear-gradient(to right,#651f4e, #17054a);
}
.para{
    font-size: 30px;
padding-top: 100px;
    color: aliceblue;
   
    font-weight: bolder;
}
#specialpara{
    font-size: 70px;
}
#sec5{
    background-color: black;
    height:300px;  margin-top: 25px;
}
#spotify1 img{
    display: inline-block;
   margin-top:15px;
   margin-left: 20px;
    height: 40px;
    width: 40px;
}
#logo1{
color: white;
font-size: 40px;
left: 200px;
top: 20px;
padding: 15px;
}
#sec5 h2{
    margin: 20px auto;
    font-size: 30px;
    text-align: center;  
}
#sec5{
    display: flex;
    height: 600px;
}
.foot{
   color: aliceblue;
   margin-top: 150px;
    padding-top: 0px;
    height: 500px;
    width: 300px;
    align-items: center;
    text-align: center;
}
.foot p{
    padding: auto;
    line-height: 25px;
}
.foot a {
color: gray;
line-height: 40px;
}
.foot a:hover {
    color: white;
    text-decoration: underline;
    }

#sec4 .btn{
    margin-top: 30px;
}